$myFont: Roboto, sans-serif;
$myFont_2: Poppins, sans-serif;
$myfontnumber: URW DIN Arabic, sans-serif;
$myFontSize: 16px;
$myFontSize2: 18px;
$myWidth: 100%;
$myColor: #ffffff;
$myFontWeight: 400; // normal
$myFontWeight1: 500; // medium
$myFontWeight2: 600; // bold
$myFontWeight3: 900; // strong/black

// PRIMARY COLORS
$primary_1: #1487FD;
$primary_2: #333333;
$primary_3: #8a8a8a;
$primary_4: #ffbb00;
$primary_5: #FFF5D9;

// HEADLINES
$hcolor: $primary_2;
$myfontweight3: 900;
$h3fontsize: 27px;
$h2fontsize: 20px;

// BG-layers
$bgbanner: url(/img/banner-bg.png);
$bgfooter: url(/img/footer-bg.png);

html body {
  font-family: $myFont;
  font-size: $myFontSize;
}

h3 {
  font-size: $h3fontsize;
  color: $hcolor;
  font-weight: $myFontWeight3; 
  margin-bottom: 1rem;
  }

h2 {
    font-size: $h2fontsize;
    font-weight: $myFontWeight3; 
    color: $hcolor;
  }

p {
    font-family: $myFont;
    font-size: $myFontSize;
    color: $primary_3;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: $myWidth;
  padding: 3rem;
  margin: auto;
}

.btn {
  padding: 0.7rem 2rem !important;
}

.btn-primary {
  border: transparent;
  border-radius: 10px;
  background-color: $primary_4;
  font-size: $myFontSize;
  border: 2px solid transparent;
  font-weight: $myFontWeight1;
  padding: 0.7rem 0rem !important;
  width: 160px;

  &:hover {
    background-color: transparent;
    border: 2px solid $primary_4;
  }
}

.btn-secondary {
  background-color: transparent;
  border-radius: 10px;
  padding: 0.7rem 0rem !important;
  border: 2px solid $myColor;
  width: 160px;
  font-size: $myFontSize;
  font-weight: $myFontWeight1;
}

.btn-form {
  background-color: $primary_1;
  color: $myColor;
  border-radius: 12px;
  padding: 0.8rem 0rem;
  font-size: $myFontSize;
  font-weight: $myFontWeight1;
  font-family: $myFont;
}

.btn-tags {
  background-color: $primary_5;
  color: $primary_4;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;

    &:hover {
    background-color: $primary_4;
    color: $primary_5;
    }
 
    &:focus {
      background-color: $primary_4;
    color: $primary_5;
    }
}

.carousel {
  background-color: $primary_4;
}

// NAVBAR
.header-bg {
  background: url('../img/header-bg.png');
  width: auto;
  height: 500px;
  background-position: top;
}

.navbar {
  display: flex;

  .nav-link {
    margin-right: 2rem;
    font-weight: 500;
    color: $myColor;
    font-size: $myFontSize2;
    position: relative;
    top: 0;
    left: 0;
      
      &:hover {
        color: $primary_4;
      }

      &:focus {
        color: $primary_4;
      }
  }
      
  .active {
    position: relative;
    color: $primary_4 !important;
      
      &::after {
        content: "";
        position: absolute;
        background-color: $primary_4;
        width: 30px;
        height: 3px;
        left: 1px;
        top: 35px;
      }      
  }
}

  .fa-bars {
    color:$myColor;
  }

// SHOWCASE
.showcase {
  width: $myWidth;
  color: $myColor;
  background: transparent;

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .box1 .box2 {
    width: 50%;
  }

  .mobile {
    width: 100%;
    display: none;
  }
  
  .box1 {
    h1 {
      font-family: $myFont_2;
      font-weight: 700;
    }

    p {
      font-family: $myFont_2;
      color: $myColor;
      font-size: 15px;
    }
  }

  .text {
    display: none;
    font-family: $myFont;
  }
}

// ABOUT US
.about-us {
  .container {
    width: $myWidth;
  }

  .ec-logo {
    img {
      margin: 3.5rem;
    }
  }

  .case-1  {
    width: $myWidth;
    font-family: $myFont;

    img {
      margin: 1rem;
      width: 39%;
    }
  }

  .case-1 .iphone img {
    display: none;
    }
}
 
// FEATURES
.features {
  background-image: url(/img/bg-features.png);

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.mobile-2 img {
  display: none;
}

// APPLICATION 
.bg-clients{
  background: url(/img/clients.png);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.statistics .container {
  .numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  }

  h3 {
    font-weight: $myFontWeight3;

    p {
      font-weight: $myFontWeight;
    }
  }

    h2 {
      color: $primary_1;
      font-size: 25px;
      font-family: $myfontnumber;
    }
}

// BANNER 
.banner {
  background: $bgbanner;
  width: $myWidth;
  padding: 2.5rem 0 2.5rem 0;
  max-height: 550px;
  overflow: hidden;

  .container {
    max-height: 550px;
  }
  
  .text {
    h3 {
      color: $myColor;
      font-weight: $myFontWeight3;
      font-size: $h3fontsize;
    }

    p {
      color: $myColor;
      font-family: $myFont;
      font-size: $myFontSize;
      margin-bottom: 3rem;   
    }
  }
}

// CONTACT US 
.contact {
  #name, #email, #text-area {
    font-family: $myFont;
    font-size: $myFontSize;
    background-color: #FBFBFB;
    border: none;
    padding: 1.4rem;
  }

  ::placeholder {
    color: #cccccc !important;
  }
}

// FOOTER 
.bg-footer {
  background: $primary_1;
  width: auto;
  height: auto;

    .navbar {
      width: $myWidth;
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    .nav-item {
      width: 70%;
    }

    .nav-link {
      margin: 0rem;
      padding: 0;
      font-weight: 500;
      color: $myColor;
      font-size: $myFontSize2;
    
      &:hover {
        color: $primary_4;
      }

      &:focus {
        color: $primary_4;
      }
    }

    li {
      list-style: none;
    }
  
    .social-icons {
      a {
        width: 25px;
        height: 25px;
        text-decoration: none;
        color: $myColor;
      }
    }
}

// MEDIAQUERY
// 768px
@media(min-width: 768px) {

  // NAV
  .header-bg {
    height: 625px; 
  }
  
  // SHOWCASE
  .showcase {
    background: transparent;
      
    .mobile {
      width: 40%;
      display: flex;
      
      img {
      width: 100%;
      margin-left: 3rem;
      }
    }
  
    .text {
      display: inline-block;
    }
  }

  // FOOTER
  .bg-footer {
    background: url(/img/footer-bg.png);
    height: 300px;
  
    .container {
      width: $myWidth;
        .nav-item {
          width: 20%;    
      }
    }
  }
}

// 992px
@media(min-width: 992px) {
  .header-bg {
    height: 590px;  
  }
  .showcase {
    background: transparent;

      .box1 { 
        width: 60%;
      }

      .mobile {
        width: 40%;
        display: flex;

          img {
          width: 300px;
          display: flex;
        }
      }
  }

  .statistics .container {
    h2 {
      font-size: 30px;
    }
  }

  .mobile-2 {
    img {
      height: 280px;
      display: flex;
    }
  }
  .bg-footer {
    .navbar {
      width: 80%;
    }
    
    .nav-item {
      width: 100%;
    }
  }

  .footer .container {
    width: 80%;
  }
}

// 1200px
@media(min-width: 1200px) {
  html body {
    line-height: 1.8rem;
  }

  .header-bg {
    height: 1100px; 
  }
  
  h3 {
    font-size: 40px;
    color: $hcolor;
    font-weight: $myFontWeight3; 
    margin-bottom: 1rem;
  }

  .navbar .container {
    padding-bottom: 0.5rem;
  }

  .navbar {
    .active{

      &::after {
      left: 7px;  
      }
    }
  }

  .showcase {
    background: transparent;

    .mobile {
      width: 46%;

      img {
        width: 100%;
        display: flex;
        margin: 0;
        margin-left: 0rem;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .box1 {
      width: 50%;

      h1 {
      font-size: 57px;
      line-height: 5rem;
      }
    }
  }

  .iphone {
    background: url(../img/bg-aboutus.png);
    display: flex;
    margin-left: -11rem;
  }

// FEATURES
  .features {
    .container {
      display: flex;
      justify-content:start;
      flex-wrap: wrap;
    }
  }
  .mobile-2 {
    img {
      height: 445px;
    }
  }

  // STATISTIC
  .statistics .container {
    h2 {
      font-size: 40px;
    }
  }

  // BANNER
  .banner {
    .text {
      h3 {
        font-size: 50px;
      }
    }
    .bg-footer {
      .navbar {
        width: 45%;
      }
      .nav-item {
        width: 100%;
      }
    }
  }
}

// 1400px
@media(min-width: 1400px) {
  .mobile-2 {
    img {
      height: 545px;
    }
  }

  .footer .container {
    width: 40%;
  }
}

