
.coverflow {
  position: relative;
  height: 600px;
  padding: 50px;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.coverflow__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 10px;
  box-shadow: none;
  width: 230px;
  height: 500px;
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.coverflow__image[data-coverflow-index] {
  position: absolute;
  left: 60%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
  content: " ";
  z-index: 1;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 10%;
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 10;
  -webkit-transform: translateX(-300px);
  transform: translateX(-200px);
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.8) rotateY(-5deg);
  transform: translateX(10px) scale(0.8) rotateY(-5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.6) rotateY(-5deg);
  transform: translateX(100px) scale(0.7) rotateY(-5deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.4) rotateY(-5deg);
  transform: translateX(190px) scale(0.6) rotateY(-5deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-5deg);
  transform: translateX(280px) scale(0.4) rotateY(-5deg);
  opacity: 0;
}


/* Längst till vänster klar*/

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.8) rotateY(5deg);
  transform: translateX(-410px) scale(0.8) rotateY(5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.8) rotateY(-5deg);
  transform: translateX(10px) scale(0.8) rotateY(-5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.7) rotateY(-5deg);
  transform: translateX(100px) scale(0.7) rotateY(-5deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.6) rotateY(-5deg);
  transform: translateX(190px) scale(0.6) rotateY(-5deg);
  opacity: 0.16667;
}

/* Näst längst till vänster klar */
.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 8;
  -webkit-transform: translateX(-510px) scale(0.7) rotateY(4deg);
  transform: translateX(-510px) scale(0.7) rotateY(5deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.8) rotateY(5deg);
  transform: translateX(-410px) scale(0.8) rotateY(5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.8) rotateY(-5deg);
  transform: translateX(10px) scale(0.8) rotateY(-5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.7) rotateY(-5deg);
  transform: translateX(100px) scale(0.7) rotateY(-5deg);
  opacity: 0.33333;
}

/* Trejde vänster klar */

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 7;
  -webkit-transform: translateX(-610px) scale(0.4) rotateY(5deg);
  transform: translateX(-610px) scale(0.4) rotateY(5deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 8;
  -webkit-transform: translateX(-510px) scale(0.6) rotateY(5deg);
  transform: translateX(-510px) scale(0.6) rotateY(5deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.8) rotateY(5deg);
  transform: translateX(-410px) scale(0.8) rotateY(5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.8) rotateY(-5deg);
  transform: translateX(10px) scale(0.8) rotateY(-5deg);
  opacity: 0.5;
}

/* Fjärde vänster klar */

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 6;
  -webkit-transform: translateX(-780px) scale(0.4) rotateY(5deg);
  transform: translateX(-780px) scale(0.4) rotateY(5deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 7;
  -webkit-transform: translateX(-680px) scale(0.6) rotateY(5deg);
  transform: translateX(-680px) scale(0.6) rotateY(5deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(-580px) scale(0.7) rotateY(5deg);
  transform: translateX(-580px) scale(0.7) rotateY(5deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.8) rotateY(5deg);
  transform: translateX(-410px) scale(0.8) rotateY(5deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  border: 5px solid rgba(228, 228, 228, .195);
  border-radius: 25px;
}



.prev-arrow,
.next-arrow {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  padding: 1.5rem 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  line-height: 3rem;
  background: transparent;
  border-radius: 1rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
}

.prev-arrow:hover,
.next-arrow:hover,
.prev-arrow:focus,
.next-arrow:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.5);
}

.prev-arrow {
  left: 0%;
}

.prev-arrow:before {
  content: "❮";
}

.next-arrow {
  right: 0%;
}

.next-arrow:after {
  content: "❯";
}